* {
  box-sizing: border-box;
}

body {
  font: "Ubuntu";
  margin: 3rem;
  background: linear-gradient(-45deg, #97edcf, #4658cd, #23a6d5, #1455af);
  background-image: url("../src/components/images/dot-mountain-bg.jpg");
  background-size: 400% 400%;
  animation: nudge 15s ease infinite alternate;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.202);
  font-family: "Catamaran", sans-serif;
}
h2 {
  color: #000000;
  /* font-family: "Catamaran", sans-serif; */
  font-family: "Ubuntu";
  font-weight: bold;
}

.aboutUsCard {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
  margin: 2rem;
}

.actions {
  text-align: center;
  width: 100%;
}

.alreadyAccount {
  background-color: #000000;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.btn.btn-custom {
  background: linear-gradient(-45deg, #92c5ed, #5658cd, #13a6d5, #1455af);
  color: white;
  font-family: serif;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(43, 140, 129, 255);
  color: white;
  border: 1px solid rgba(43, 140, 129, 255);
  margin: 0 1rem;
  text-align: center;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.164);
  font-family: "Catamaran", sans-serif;
}

.btn-signup {
  width: 100px;
  background-color: rgba(43, 140, 129, 255);
  color: rgba(43, 140, 129, 255);
}

.btn:hover {
  background-color: rgba(10, 142, 105, 0.502);
}

.btn--alt {
  background-color: transparent;
  color: #800040;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.card {
  background-color: white;
  border-radius: 4px;
  /* alternative border radius to make the cards rounder
  border-radius: 40%;*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 30rem;

  margin: 2.7rem;
}

.column {
  float: left;
  width: 20%;
}

.dotAnimation {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: cowmove 10s linear infinite;
}

@keyframes cowmove {
  0% {
    transform: translateX(0px) rotate(0);
  }
  30% {
    transform: translateX(500px) rotate(0);
  }
  50% {
    transform: translateX(500px) rotate(0);
  }
  80% {
    transform: translateX(0px) rotate(0);
  }
  100% {
    transform: translateX(0px) rotate(0);
  }
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.homepageDiv {
  /* background-color: white; */
  background-image: url("../src/components/images/dot-mountain-bg.jpg");
}

.hometown {
  width: 100%;
}

.memberPhoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9rem;
  height: 10rem;
  filter: drop-shadow(10px 10px 4px #0000000f);
}

.photoContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#flag-container {
  height: 252px;
  background-color: white;
}

#flag-container img {
  width: 100%;
  height: 100%;
}

#info-container select {
  display: block;
  margin: 20px auto;
  padding: 5px;
  min-width: 100%;
  width: 200px;
  color: black;
  font-size: 15px;
  font-weight: 900;
  text-align-last: center;
}

#info-container p {
  padding: 0 10px;
  font-weight: 600;
}

/* alternative button style
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}
*/

/* alternative button hover colors
.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}*/

/* possible code for a modal w/ backdrop
.modal 
{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}*/
