@import url('https://fonts.googleapis.com/css?family=Radley&display=swap');

.body {
    font-size: 14px;
  }
  .pageBG {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .logoOuterBG {
    width: 401px;
    color: rgba(0,0,0,1);
    position: absolute;
    /*top: 192px;*/
    top: 150px;
    left: 107px;
    font-family: Radley;
    font-weight: Regular;
    font-size: 80px;
    opacity: 1;
    text-align: left;
  }
  .sloganBG {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 315px;
    left: 107px;
    font-family: Radley,fantasy;
    font-weight:lighter;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  /*.v2_12 {
    width: 100%;
    height: 476px;
    background: rgba(163,223,236,1);
    opacity: 1;
    position: absolute;
    top: 547px;
    left: 0px;
    background-image: url(../src/dot_wavy-image.png);
    
  }*/
  .wavyBG {
    width: 100%;
    height: 389px;
    background: rgba(199,231,223,1);
    opacity: 1;
    position: absolute;
    top: 641px;
    /*top: 500px;*/
    left: 0px;
    background-image: url(../src/dot_wavy-image.png);
  }
  .signupButtonOuterBG {
    width: 281px;
    height: 74px;
    background: url("../images/signupButtonOuterBG.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 436px;
    left: 107px;
    overflow: hidden;
  }
  .signupButtonInnerBG {
    width: 281px;
    height: 74px;
    background: rgba(42,141,129,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .signupButtonText {
    width: 127px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 13px;
    left: 76px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
    font-family: Radley;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .signupButtonSmallSquare {
    width: 13px;
    height: 19px;
    background: url("../images/signupButtonSmallSquare.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 214px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .wavyBG0 {
    width: 281px;
    height: 74px;
    background: url("../images/wavyBG0.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 436px;
    left: 439px;
    overflow: hidden;
  }
  .wavyBG1 {
    width: 281px;
    height: 74px;
    background: rgba(53,182,151,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .wavyBG2 {
    width: 127px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 13px;
    left: 76px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
    font-family: Radley;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .wavyBG3 {
    width: 13px;
    height: 19px;
    background: url("../images/wavyBG3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 214px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  /*
  .v2_20 {
    width: 156px;
    height: 269px;
    background: url("../images/v2_20.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 448px;
    left: 206px;
    overflow: hidden;
  }
  
  .v2_21 {
    width: 20px;
    height: 19px;
    background: rgba(124,121,121,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 156px;
    border-radius: 50%;
  }
  .v2_22 {
    width: 20px;
    height: 19px;
    background: url("../images/v2_22.png");
    opacity: 1;
    position: absolute;
    top: 130px;
    left: 156px;
    border-radius: 50%;
  }
  .v2_23 {
    width: 20px;
    height: 19px;
    background: url("../images/v2_23.png");
    opacity: 1;
    position: absolute;
    top: 250px;
    left: 156px;
    border-radius: 50%;
  }
  .v2_24 {
    width: 121px;
    height: 39px;
    background: url("../images/v2_24.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  
  .v2_25 {
    width: 121px;
    height: 39px;
    background: rgba(231,229,229,0.699999988079071);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v2_26 {
    width: 61px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 8px;
    left: 30px;
    font-family: Radley;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  */